@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    RedirectToPage("./Shop/Index");
}
<div class="text-center">
    <h1 class="display-4">
        Welcome
        @if (User.Identity.IsAuthenticated)
        {
            @User.Identity.Name
        }
    </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (Model.Results.Any())
{
    @await Html.PartialAsync("./Shop/Index",Model.Results)
}
