@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
    RedirectToPage("./Shop/Index");
}
<div class="text-center">
    <h1 class="display-6">
        Welcome
        @if (User.Identity.IsAuthenticated)
        {
            @User.Identity.Name
        }
        to Market
    </h1>
</div>
@if (Model.Results.Any())
{
    @await Html.PartialAsync("./Shop/Index",Model.Results)
}
