@model Market.Web.Pages.Coupon.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div id="modal-backdrop"
     class="modal-backdrop fade"
     style="display:block;"></div>
<div id="modal" class="modal fade" tabindex="-1" style="display:block;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div asp-validation-summary="All"></div>
            <form method="post">
                <div class="modal-header">
                    <h5 class="modal-title">@Model.UpsertModalTitle Coupon</h5>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" asp-for="RequestDto.CouponCode">Code</label>
                        <div><input class="form-control" asp-for="RequestDto.CouponCode" required="required" /></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="RequestDto.CouponName">Name</label>
                        <div><input class="form-control" asp-for="RequestDto.CouponName" required="required" /></div>
                    </div>
                    <div class="mb-3 ">
                        <label class="form-label" asp-for="RequestDto.CouponDisccountAmount">Disccount (%)</label>
                        <div><input type="number" step='0.01' value='0.00' min="0" max="100" class="input-group-sm form-control text-sm-end" asp-for="RequestDto.CouponDisccountAmount" required="required" /></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="RequestDto.CouponMinAmmount">MinAmmount ($)</label>
                        <div><input type="number" step='0.01' value='0.00' min="0" class="input-group-sm form-control text-sm-end" asp-for="RequestDto.CouponMinAmmount" required="required" /></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="RequestDto.CouponStartDate">Start Date</label>
                        <div><input type="datetime-local" class="form-control" asp-for="RequestDto.CouponStartDate" required="required" /></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="RequestDto.CouponEndDate">End Date</label>
                        <div><input type="datetime-local" class="form-control" asp-for="RequestDto.CouponEndDate" required="required" /></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closeModal()">
                        Close
                    </button>
                    @* <input type="submit" value="Save" class="btn btn-primary" /> *@
                    <button 
                            type="submit"
                            class="btn btn-primary">Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>