@page "/coupon"
@model Market.Web.Pages.Coupon.IndexModel
@{
    ViewBag.Title = "Coupon";  
}

<div class="card p-4 mb-3">

    <h2 class="mb-3">
        <img src="~/img/coupon.svg" alt="coupon" style="height: 2rem">
        Coupon
        <img id="loading" class="htmx-indicator" src="~/img/pacman.gif" alt="search" width="16" />
    </h2>

    <div class="input-group mb-3">
        <button hx-get
                hx-page="Index"
                hx-page-handler="CreateModal"
                hx-target="#modal-container"
                class="btn btn-outline-secondary mb-2"
                style="font-size:1.1rem">
            <img src="~/img/plus.svg" alt="plus" width="16" />
            New
        </button>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="search-addon">
            <img id="search-icon" src="~/img/search.svg" alt="search" width="16" />
        </span>
        <input type="text"
               asp-for="Query"
               id="query"
               autocomplete="off"
               hx-get="@Url.Page("Index")"
               hx-target="#results"
               hx-trigger="keyup changed delay:250ms"
               hx-indicator="#loading"
               placeholder="Search"
               class="form-control"
               aria-label="Username"
               aria-describedby="search-addon">
    </div>
    <div class="mb-3">
        <table class="table table-borderless table-striped table-responsive table-hover">
            <thead class="table-dark">
                <tr>
                <th class="text-sm-center">Id</th>
                <th class="text-sm-center">Code</th>
                <th class="text-sm-center">Disccount Name</th>
                <th class="text-sm-center">Disccount (%)</th>
                <th class="text-sm-center">MinAmmount ($)</th>
                <th class="text-sm-center">StartDate</th>
                <th class="text-sm-center">EndDate</th>
                <th class="text-sm-center">Actions</th>
                </tr>
            </thead>
            <tbody id="results" class="align-middle">
                @await Html.PartialAsync("Results")
            </tbody>
        </table>
    </div>

    <div style="height:50px">Showing @Model.ResultsCount records</div>
</div>

<div id="modal-container"></div>

<div id="toast-container">
    @if (TempData["customErrors"] != null)
    {
        @await Html.PartialAsync("Toast")
    }
</div>

@section head {
    <style>
        /* change focus color */
        .form-control:focus {
            border-color: #ff80ff;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 100, 255, 0.5);
        }
    </style>
}