@using System.Globalization
@model IndexModel

<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-absolute bottom-0 end-0 p-3">
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
            <div class="toast-header">
                <img src="~/img/circle-info.svg" class="rounded me-2" alt="info">
                <strong class="me-auto">Market</strong>
                <small class="text-muted">
                    @DateTime.Now.ToString("f",
                             CultureInfo.CreateSpecificCulture("en-US"))
                </small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @TempData["customErrors"]
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function closeToast() {
        const container = document.getElementById("toast-container");

        setTimeout(function () {
            container.innerHTML = "";
        }, 5000)
    }
    closeToast();
</script>