@page "/auth"
@using Market.Domain.Models.Dto.Web
@model IndexModel
@{
    ViewData["Title"] = "Auth";
}

<div id="auth-container">
    <div class="main-auth">
        <input class="inp-auth" type="checkbox" id="chk-auth" aria-hidden="true">
        <div class="login">
            <form method="post" asp-page="./Index" asp-page-handler="SignIn">
                <label class="lbl-auth" for="chk-auth" aria-hidden="true">Sign In</label>
                <input asp-for="SignInRequest.UserName" class="form-control mb-4" type="text" placeholder="Email" required="">
                <input asp-for="SignInRequest.Password" class="form-control mb-4" type="password" placeholder="Password" required="">               
                <button type="submit" class="btn-auth btn btn-dark mb-3">Sign In</button>
            </form>
        </div>
        <div class="signup">
            <form method="post" asp-page="./Index" asp-page-handler="SignUp">
                <label class="lbl-auth" for="chk-auth" aria-hidden="true">Sign Up</label>
                <input asp-for="SignUpRequest.UserName" class="form-control mb-4" type="text" placeholder="UserName" required="">
                <input asp-for="SignUpRequest.Email" class="form-control mb-4" type="email" placeholder="Email" required="">
                <input asp-for="SignUpRequest.Name" class="form-control mb-4" type="text" placeholder="Name" required="">
                <input asp-for="SignUpRequest.PhoneNumber" class="form-control mb-4" type="tel" placeholder="Phone Number" required="">
                <select asp-for="SignUpRequest.Role" class="form-select mb-4" placeholder="Select an option..." required="">
                    <option selected="selected" value="">Select an option...</option>
                    @foreach (var item in Model.Roles)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <input asp-for="SignUpRequest.Password" class="form-control mb-4" type="password" placeholder="Password" required="">
                <button class="btn-auth btn btn-dark mb-4">Sign Up</button>
            </form>
        </div>
    </div>
</div>
