@model Market.Web.Pages.Auth.IndexModel

<div id="auth-modal-backdrop" class="modal-backdrop fade show"></div>
<div id="auth-my-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div id="modal-body" class="modal-content">
            <div id="auth-container">
                <div class="main-auth">
                    <input class="inp-auth" type="checkbox" id="chk-auth" aria-hidden="true">
                    <div class="login">
                        <form>
                            <label class="lbl-auth" for="chk-auth" aria-hidden="true">Sign In</label>
                            <input class="form-control mb-4" type="email" name="email" placeholder="Email" required="">
                            <input class="form-control mb-4" type="password" name="pswd" placeholder="Password" required="">
                            <button class="btn-auth btn btn-dark mb-3">Sign In</button>
                        </form>
                    </div>
                    <div class="signup">
                        <form>
                            <label class="lbl-auth" for="chk-auth" aria-hidden="true">Sign Up</label>
                            <input class="form-control mb-4" type="email" name="email" placeholder="Email" required="">
                            <input class="form-control mb-4" type="text" name="txt" placeholder="Name" required="">
                            <input class="form-control mb-4" type="tel" name="phone" placeholder="Phone Number" required="">
                            <select class="form-select mb-4" name="role" placeholder="Select an option..." required="">
                                <option selected="selected" value="">Select an option...</option>
                                @foreach (var item in Model.Roles)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                            <input class="form-control mb-4" type="password" name="pswd" placeholder="Password" required="">
                            <button class="btn-auth btn btn-dark mb-4">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    showModalAuth();

    function closeModalAuth() {
        const container = document.getElementById("auth-modal-container");
        const backdrop = document.getElementById("auth-modal-backdrop");
        const modal = document.getElementById("auth-my-modal");

        backdrop.classList.remove("show");
        modal.classList.remove("show");

        setTimeout(function () {
            container.removeChild(backdrop);
            container.removeChild(modal);
        }, 200);
    }

    $(document).ready(function () {
        $("#auth-my-modal").on("hide.bs.modal", function () {           
            closeModalAuth();
        });
    });
</script>